@import './_colors.scss';

/* styling */

body {
  background: $bg_color;
}

.logo {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: $primary_color;
}

.card {
  height: 350px;
  width: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

  input {
    height: 52px;
    width: 364px;
    border: 1px solid rgb(221, 223, 226);
    border-radius: 6px;
  }

  button {
    height: 52px;
    width: 364px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .login {
    background: $primary_color; 
  }
  
  .demo {
    background: $secondary_color;
  }
}



/* positioning */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
