.card {
  height: 350px;
  width: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.card > input {
  height: 52px;
  width: 364px;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 6px;
}

.card > button {
  height: 52px;
  width: 364px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.login {
  background: rgb(164, 40, 40); 
}

.demo {
  background: rgb(40, 104, 164);
}

.logo {
  font-family: "Helvetica Neue";
  font-size: 64px;
  font-weight: bold;
  color: rgb(164, 40, 40);
}

.logo-subtitle {
  font-family: "Helvetica Neue";
  font-size: 28px;
  font-weight: 500;
  color: rgb(88, 11, 11);
}

/* test */
input, button {
  display: block;
}

.card > * {
  margin: 20px auto;
}

.card {
  display: inline-block;
  position: absolute;
  right: 150px;
  top: 150px;
}

.logo-container {
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 200px;
}